/* About  */

.bgCirule{
    position: relative;
}
.bgCirule:before {
    content: '';
    height: 27rem;
    width: 27rem;
    background: linear-gradient(to top, rgba(238, 238, 238, 0), #c4c9ff);
    position: absolute;
    top: -150px;
    left: -200px;
    border-radius: 50%;
    z-index: -100;
}
/* contact me  */
.bgRightCirule{
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: bgRightCirule 1.5s;
}

.bgRightCirule:before {
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(to top, rgba(238, 238, 238, 0), #c4c9ff);
    position: absolute;
    top: 0px;
    right: -300px;
    border-radius: 50%;
    z-index: -100;
}

/* Benifit  */
.benifitCirule{
    width: 100%;
    overflow: hidden;
    position: relative;
    animation: bgRightCirule 1.5s;
}

.benifitCirule:before {
    content: '';
    height: 600px;
    width: 600px;
    background: linear-gradient(to bottom, rgba(238, 238, 238, 0), #c4c9ff);
    position: absolute;
    top: 100px;
    left: 30%;
    border-radius: 50%;
    z-index: -100;
}


.sectionTitle {
    position: relative;
}

.sectionTitle::before {
    text-align: center;
    content: '';
    height: 4px;
    width: 100px;
    background-color: #FF8E53;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
}

.sectionTitle::after {
    text-align: center;
    content: '';
    height: 4px;
    width: 50px;
    background-color: #FF8E53;
    position: absolute;
    top: 100%;
    left: 0px;
    border-radius: 10px;
    margin-top: 8px;
}


/* Home  */
.Header {
    position: relative;
}


.name {
    color: #4D4B95;
}

.leftanimation {
    position: relative;
    animation: leftanimation 2s;
}

.rightanimation {
    position: relative;
    animation: rightanimation 1.5s;
}


@keyframes rightanimation {
    from {
        opacity: 0.1;
        margin-right: -200px;
    }

    to {
        opacity: 1;
        margin-right: 00px;

    }
}

@keyframes leftanimation {
    from {
        opacity: 0.1;
        margin-left: -200px;
    }

    to {
        opacity: 1;
        margin-left: 00px;

    }
}
/* feature  */
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 3px 5px 2px rgba(255, 138, 138, .3);
}

.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.video-popup.show {
  opacity: 1;
  visibility: visible;
}

.thanks{
    border-radius: 3rem;
    text-align: center;
    background: linear-gradient(360deg, #4D4B95 30%, #7C72C5 90%);
}



/* Contact me  */

.input {
    padding-left: 20px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    border: 1px solid rgb(185, 185, 185);
}

.textInput {
    border-radius: 20px;
    padding: 10px 0 0 20px;
    font-size: 16px;
}